{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="logo d-flex align-items-center" style="gap: 16px">
      {% if user.profile %}
      <a
        href="{% url 'user:profile_detail' user.profile.id %}"
        class="link-light"
      >
        <i class="fa-solid fa-user-circle"></i>
      </a>
      {% else %}
      <a href="{% url 'user:profile_create' %}" class="link-light">
        <i class="fa-solid fa-user-circle"></i>
      </a>
      {% endif %}
      <a class="navbar-brand" href="#">TaskManager</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'core:home' %}"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tasks
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'core:task_create' %}">Create</a></li>
            <li><a class="dropdown-item" href="{% url 'core:task_list' %}">List</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:recent_activities_list' %}">Recent activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:collaborators_list' %}">Collaborators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chat with collaborators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:logout' %}">Logout</a>
        </li>
      </ul>
      <form class="d-flex" style="gap: 8px" role="search">
        <div class="form-element">
          <input
            id="id_search"
            name="q"
            class=""
            type="search"
            aria-label="Search"
            required
          />
          <label for="id_search">Search</label>
        </div>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endif %}
