:root {
    /* Material Design Typography settings start */
    /* Role	System token	Reference token	Default value */
    /* Display large	 */
    --md-sys-typescale-display-large-font: "Poppins", "sans-serif";
    --md-sys-typescale-display-large-line-height: calc(64rem / 16);
    --md-sys-typescale-display-large-size: calc(57rem / 16);
    --md-sys-typescale-display-large-tracking: calc(0rem / 16);
    --md-sys-typescale-display-large-weight: 400;
    /* Display Medium */
    --md-sys-typescale-display-medium-font: "Poppins", "sans-serif";
    --md-sys-typescale-display-medium-line-height: calc(52rem / 16);
    --md-sys-typescale-display-medium-size: calc(45rem / 16);
    --md-sys-typescale-display-medium-tracking: calc(0rem / 16);
    --md-sys-typescale-display-medium-weight: 400;
    /* Display Small */
    --md-sys-typescale-display-small-font: "Poppins", "sans-serif";
    --md-sys-typescale-display-small-line-height: calc(44rem / 16);
    --md-sys-typescale-display-small-size: calc(36rem / 16);
    --md-sys-typescale-display-small-tracking: calc(0rem / 16);
    --md-sys-typescale-display-small-weight: 400;
    /* Headline Large */
    --md-sys-typescale-headline-large-font: "Poppins", "sans-serif";
    --md-sys-typescale-headline-large-line-height: calc(40rem / 16);
    --md-sys-typescale-headline-large-size: calc(32rem / 16);
    --md-sys-typescale-headline-large-tracking: calc(0rem / 16);
    --md-sys-typescale-headline-large-weight: 400;
    /* Headline Medium */
    --md-sys-typescale-headline-medium-font: "Poppins", "sans-serif";
    --md-sys-typescale-headline-medium-line-height: calc(36rem / 16);
    --md-sys-typescale-headline-medium-size: calc(28rem / 16);
    --md-sys-typescale-headline-medium-tracking: 0;
    --md-sys-typescale-headline-medium-weight: 400;
    /* Headline Small */
    --md-sys-typescale-headline-small-font: "Poppins", "sans-serif";
    --md-sys-typescale-headline-small-line-height: calc(32rem / 16);
    --md-sys-typescale-headline-small-size: calc(24rem / 16);
    --md-sys-typescale-headline-small-tracking: calc(0rem / 16);
    --md-sys-typescale-headline-small-weight: 400;
    /* Title Large */
    --md-sys-typescale-title-large-font: "Poppins", "sans-serif";
    --md-sys-typescale-title-large-line-height: calc(28rem / 16);
    --md-sys-typescale-title-large-size: calc(22rem / 16);
    --md-sys-typescale-title-large-tracking: calc(0rem / 16);
    --md-sys-typescale-title-large-weight: 400;
    /* Title Medium */
    --md-sys-typescale-title-medium-font: "Poppins", "sans-serif";
    --md-sys-typescale-title-medium-line-height: calc(24rem / 16);
    --md-sys-typescale-title-medium-size: calc(16rem / 16);
    --md-sys-typescale-title-medium-tracking: calc(0.15rem / 16);
    --md-sys-typescale-title-medium-weight: 500;
    /* Title Small */
    --md-sys-typescale-title-small-font: "Poppins", "sans-serif";
    --md-sys-typescale-title-small-line-height: calc(20rem / 16);
    --md-sys-typescale-title-small-size: calc(14rem / 16);
    --md-sys-typescale-title-small-tracking: calc(0.1rem / 16);
    --md-sys-typescale-title-small-weight: 500;
    /* Label Large */
    --md-sys-typescale-label-large-font: "Poppins", "sans-serif";
    --md-sys-typescale-label-large-line-height: calc(20rem / 16);
    --md-sys-typescale-label-large-size: calc(14rem / 16);
    --md-sys-typescale-label-large-tracking: calc(0.1rem / 16);
    --md-sys-typescale-label-large-weight: 500;
    /* Label Medium */
    --md-sys-typescale-label-medium-font: "Poppins", "sans-serif";
    --md-sys-typescale-label-medium-line-height: calc(16rem / 16);
    --md-sys-typescale-label-medium-size: calc(12rem / 16);
    --md-sys-typescale-label-medium-tracking: calc(0.5rem / 16);
    --md-sys-typescale-label-medium-weight: 500;
    /* Label Small */
    --md-sys-typescale-label-small-font: "Poppins", "sans-serif";
    --md-sys-typescale-label-small-line-height: calc(16rem / 16);
    --md-sys-typescale-label-small-size: calc(11rem / 16);
    --md-sys-typescale-label-small-tracking: calc(0.5rem / 16);
    --md-sys-typescale-label-small-weight: 500;
    /* Body Large */
    --md-sys-typescale-body-large-font: "Poppins", "sans-serif";
    --md-sys-typescale-body-large-line-height: calc(24rem / 16);
    --md-sys-typescale-body-large-size: calc(16rem / 16);
    --md-sys-typescale-body-large-tracking: calc(0.5rem / 16);
    --md-sys-typescale-body-large-weight: 400;
    /* Body Medium */
    --md-sys-typescale-body-medium-font: "Poppins", "sans-serif";
    --md-sys-typescale-body-medium-line-height: calc(20rem / 16);
    --md-sys-typescale-body-medium-size: calc(14rem / 16);
    --md-sys-typescale-body-medium-tracking: calc(0.25rem / 16);
    --md-sys-typescale-body-medium-weight: 400;
    /* Body Small */
    --md-sys-typescale-body-small-font: "Poppins", "sans-serif";
    --md-sys-typescale-body-small-line-height: calc(16rem / 16);
    --md-sys-typescale-body-small-size: calc(12rem / 16);
    --md-sys-typescale-body-small-tracking: calc(0.4rem / 16);
    --md-sys-typescale-body-small-weight: 400;
    /* Material Design Typography settings end */
  
    /* Utility start */
    --gap-xsm: 4px;
    --gap-sm: 8px;
    --gap-md: 16px;
    --gap-lg: 32px;
    --gap-xl: 64px;
    --gap-xxl: 128px;
    /* Utility end */
  
    --m3-black: #000000;
    --m3-sys-dark-primary: #d0bcff;
    --m3-sys-dark-on-primary: #381e72;
    --m3-sys-dark-on-surface: #e6e1e5;
    --m3-sys-dark-secondary: #ccc2dc;
    --m3-sys-dark-on-secondary: #332d41;
    --m3-sys-dark-surface-1: linear-gradient(
        0deg,
        rgba(208, 188, 255, 0.05),
        rgba(208, 188, 255, 0.05)
      ),
      #1c1b1f;
  
    --m3-sys-dark-surface-2: linear-gradient(
        0deg,
        rgba(209, 188, 255, 0.08),
        rgba(209, 188, 255, 0.08)
      ),
      #1c1b1e;
    --m3-sys-dark-surface-3: linear-gradient(
        0deg,
        rgba(209, 188, 255, 0.11),
        rgba(209, 188, 255, 0.11)
      ),
      #1c1b1e;
    --m3-sys-dark-outline: 1px solid #938f99;
    --m3-sys-dark-on-surface-variant: #cac4d0;
  
    --bs-primary: #d0bcff;
  }